
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
 }
 body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(46,47,55,1);
 }
 .container{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: rgb(87, 90, 92);
    box-shadow: 0 5px 10px black;
 }
 .display{
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: black;
 }
 .buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4 ,1fr);
 }

 .buttons button{
    padding: 12px 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
   background-color: #eee
   ;
 }
 .buttons button:active{
    transform: scale(0.99);
 }
 .operator {
    color: rgb(37, 117, 168);
 }

.display{
   border-radius: 10px;
   background-color: rgb(255, 255, 255);
}
.buttons button:hover{
   background-color: rgb(138, 148, 156);
}
.clear{
   color: rgba(0, 255, 4, 0.734);
}
.danger{
   color: red;
}